In [2]:
import pandas as pd 
import numpy as np

In [3]:
import sys
sys.path.append('/Users/fido_josephine/Documents/New-Fraud-Rules/fraud')
from modules.distance_finder import lev_win_multi, lev_win

In [4]:
df = pd.read_csv('/Users/fido_josephine/Documents/New-Fraud-Rules/Data/surveys (1).csv')

In [5]:
df.head()

,HASH,CLIENT_ID,SURVEY_WEEK,SURVEY_DATE,ADDRESS,EMAIL,POSITION,DISB_DATE,INDUSTRY,DISBURSED,DR1,DEFAULTED,PTFRAUD
0,ecpb0,178484003,2024-02-05,2024-02-05 09:36:39.000,Peace church,acquahmary574@gmail.com,Packaging,2024-02-05 09:40:44.000,Food Industry,1,0,0,0
1,NaN,844806159,2024-01-29,2024-01-30 23:10:06.000,GBC bank,hensy.ai@gmail.com,Owner,2024-01-30 23:29:41.000,Transportation,1,0,0,0
2,ecpb1,832139937,2024-01-22,2024-01-27 17:15:06.000,ATTA MILLS,arhinm220@gmail.com,DRIVER,2025-02-06 11:16:37.000,Transportation,1,0,1,0
3,ecy1p,279135133,2024-03-04,2024-03-05 21:10:31.000,old karaga street,NaN,accountant,2024-03-05 21:21:50.000,Healthcare,1,0,0,0
4,ebzze,368413062,2024-03-04,2024-03-06 19:42:23.000,Abebrese Street,dadzitheodora77@gmail.com,nurse,2024-03-19 08:52:37.000,Healthcare,1,0,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380461 entries, 0 to 380460
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   HASH         354248 non-null  object
 1   CLIENT_ID    380461 non-null  int64
 2   SURVEY_WEEK  380461 non-null  object
 3   SURVEY_DATE  380461 non-null  object
 4   ADDRESS      380249 non-null  object
 5   EMAIL        269941 non-null  object
 6   POSITION     354927 non-null  object
 7   DISB_DATE    177915 non-null  object
 8   INDUSTRY     354961 non-null  object
 9   DISBURSED    380461 non-null  int64
 10  DR1          380461 non-null  int64
 11  DEFAULTED    380461 non-null  int64
 12  PTFRAUD      380461 non-null  int64
dtypes: int64(5), object(8)
memory usage: 37.7+ MB

In [7]:
df['SURVEY_DATE'] = pd.to_datetime(df['SURVEY_DATE'])

In [8]:
test1 = lev_win(df, 15, 3)

In [9]:
test1

,HASH,CLIENT_ID,SURVEY_WEEK,SURVEY_DATE,ADDRESS,EMAIL,POSITION,DISB_DATE,INDUSTRY,DISBURSED,DR1,DEFAULTED,PTFRAUD,FRAUD_TYPE,SIMILAR_PRIOR_ADDRESS,SIMILAR_ADDRESSES_COUNT
0,ebyez,359723082,2024-07-08,2024-07-13 07:45:18,ogo street,NaN,waitress,2024-07-14 20:04:28.000,Hotel and restaurants,1,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,ogo street,5
1,ebyez,560471341,2024-11-18,2024-11-18 10:42:26,Palace garden,thomasanglya@gmail.com,sales boy,NaN,Industry/Manufacturing,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Palace garden,5
2,ebygb,603588975,2024-07-29,2024-07-30 13:03:58,Takoradi Technical University,nafodo@gmail.com,Lecturer,2024-08-01 08:03:44.000,Education,1,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Takoradi Technical University,5
3,ebyh8,776946950,2024-10-14,2024-10-20 10:24:01,AHOBRE 1,www.arloomonica222@gmail.com,TEACHER,2024-10-20 10:25:10.000,Education,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE 1,5
4,ebyh8,668084800,2024-10-14,2024-10-20 10:53:18,AHOBRE 1,www.annanpatrick44@gmail.com,TEACHER,2024-10-20 10:59:37.000,Education,1,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE 1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005,s126f,828691554,2024-09-09,2024-09-12 09:18:41,Pentecost Church,NaN,teacher,2024-09-12 10:21:16.000,Education,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,Pentecost Church,6
2006,s126f,72434140,2024-09-09,2024-09-12 15:45:50,Pentecost Church,NaN,Teacher,2024-09-12 16:26:50.000,Education,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,Pentecost Church,7
2007,s12ju,298654810,2024-09-16,2024-09-22 13:39:33,Dambai Zongo,NaN,Buying and Selling,NaN,Trade - Retail,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Dambai Zongo,5
2008,s12ju,424704196,2024-09-16,2024-09-22 15:27:05,Dambai zongo,NaN,Buying and Selling of fabrics,NaN,Trade - Retail,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Dambai zongo,6
2009,s1b4k,741150525,2024-04-22,2024-04-23 11:02:55,BX60 CARROT ST,bubasulley78@gmail.com,farmer,NaN,Domestic Services,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,BX60 CARROT ST,5

In [10]:
test1['SIMILAR_ADDRESSES_COUNT'].min()

np.int64(5)

In [11]:
test1.head(20)

,HASH,CLIENT_ID,SURVEY_WEEK,SURVEY_DATE,ADDRESS,EMAIL,POSITION,DISB_DATE,INDUSTRY,DISBURSED,DR1,DEFAULTED,PTFRAUD,FRAUD_TYPE,SIMILAR_PRIOR_ADDRESS,SIMILAR_ADDRESSES_COUNT
0,ebyez,359723082,2024-07-08,2024-07-13 07:45:18,ogo street,NaN,waitress,2024-07-14 20:04:28.000,Hotel and restaurants,1,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,ogo street,5
1,ebyez,560471341,2024-11-18,2024-11-18 10:42:26,Palace garden,thomasanglya@gmail.com,sales boy,NaN,Industry/Manufacturing,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Palace garden,5
2,ebygb,603588975,2024-07-29,2024-07-30 13:03:58,Takoradi Technical University,nafodo@gmail.com,Lecturer,2024-08-01 08:03:44.000,Education,1,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Takoradi Technical University,5
3,ebyh8,776946950,2024-10-14,2024-10-20 10:24:01,AHOBRE 1,www.arloomonica222@gmail.com,TEACHER,2024-10-20 10:25:10.000,Education,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE 1,5
4,ebyh8,668084800,2024-10-14,2024-10-20 10:53:18,AHOBRE 1,www.annanpatrick44@gmail.com,TEACHER,2024-10-20 10:59:37.000,Education,1,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE 1,6
5,ebyh8,740441033,2024-10-21,2024-10-24 06:02:23,AHOBRE 1,www.kotsia555@gmail.com,TEACHER,NaN,Education,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE 1,7
6,ebyh8,153076413,2024-10-21,2024-10-24 06:57:28,AHOBRE 2,NaN,HEADMASTER,NaN,Education,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE 2,8
7,ebyh8,138760652,2024-10-21,2024-10-25 11:26:33,AHOBRE I,www.kwesiatta1234@gmail.com,TEACHER,NaN,Education,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE I,9
8,ebysp,21421147,2024-05-27,2024-05-30 14:56:35,nanakrakojo street,NaN,Trader,NaN,Trade - Wholesale,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,nanakrakojo street,5
9,ebysp,297087668,2024-09-23,2024-09-27 10:39:24,NaN,asarecharry97@gmail.com,madam,NaN,Beauty,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,nan,5
10,ebysp,363188662,2024-09-23,2024-09-29 16:55:33,T A,NaN,Alfred,NaN,Agriculture,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,T A,7
11,ebysp,576605952,2024-11-11,2024-11-11 18:16:38,Near main market,louisbonful3@gmail.com,Im the escavator driver,2024-11-11 18:27:20.000,Mining,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,Near main market,5
12,ebysp,828080476,2024-11-11,2024-11-14 14:20:21,Near main market,francisobeng92@gmail.com,Im the mechanical engineer,NaN,Mining,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Near main market,6
13,ebysp,277228197,2024-11-11,2024-11-14 16:56:48,Near main market,cudjoepatrick751@gmail.com,Im the Accounts Officer,2024-11-14 16:58:09.000,Banking and Financial Services,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,Near main market,7
14,ebysp,511206353,2024-11-11,2024-11-15 13:12:15,Near main market,mensshlsaac37@gmail.com,Im Escavator driver,NaN,Mining,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Near main market,8
15,ebysp,72738877,2024-11-11,2024-11-15 16:37:20,Near main market,francisobeng92@gmail.com,Im the architect,NaN,Construction,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Near main market,9
16,ebysp,819932269,2024-11-11,2024-11-16 16:26:15,Near main market,maanirazak85@gmail.com,Im the mechanical engineer,2024-11-16 20:13:04.000,Oil & Gas,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,Near main market,10
17,ebysp,22934257,2024-11-11,2024-11-17 07:45:04,Near main market,agbehaebenezaroriazy@gmail.com,Im the chief security,2024-11-17 07:46:29.000,Mining,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,Near main market,10
18,ebysp,840553956,2024-11-11,2024-11-17 08:33:38,Near main market,ackahnana8@gmail.com,Im the branch director,NaN,Agriculture,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Near main market,11
19,ebysp,78766896,2024-11-18,2024-11-18 17:04:01,Near main park,maanirazak85@gmail.com,Im the civil engineer,NaN,Construction,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Near main park,11

In [12]:
test1['SURVEY_DATE'].min()

Timestamp('2024-01-04 11:37:21')

In [28]:
test1['DR1'].sum()/test1['DISBURSED'].sum()

np.float64(0.2553191489361702)

## Address Similarity Threshold - 4

In [13]:
test2 = lev_win(df, 15, 4)

In [14]:
test2

,HASH,CLIENT_ID,SURVEY_WEEK,SURVEY_DATE,ADDRESS,EMAIL,POSITION,DISB_DATE,INDUSTRY,DISBURSED,DR1,DEFAULTED,PTFRAUD,FRAUD_TYPE,SIMILAR_PRIOR_ADDRESS,SIMILAR_ADDRESSES_COUNT
0,ebyh8,668084800,2024-10-14,2024-10-20 10:53:18,AHOBRE 1,www.annanpatrick44@gmail.com,TEACHER,2024-10-20 10:59:37.000,Education,1,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE 1,6
1,ebyh8,740441033,2024-10-21,2024-10-24 06:02:23,AHOBRE 1,www.kotsia555@gmail.com,TEACHER,NaN,Education,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE 1,7
2,ebyh8,153076413,2024-10-21,2024-10-24 06:57:28,AHOBRE 2,NaN,HEADMASTER,NaN,Education,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE 2,8
3,ebyh8,138760652,2024-10-21,2024-10-25 11:26:33,AHOBRE I,www.kwesiatta1234@gmail.com,TEACHER,NaN,Education,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE I,9
4,ebysp,363188662,2024-09-23,2024-09-29 16:55:33,T A,NaN,Alfred,NaN,Agriculture,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,T A,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,s126f,746843800,2024-09-02,2024-09-06 17:20:26,Pentecost Church,NaN,Teacher,2024-09-06 18:17:36.000,Education,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,Pentecost Church,6
1184,s126f,196678522,2024-09-02,2024-09-06 20:59:09,Pentecost Church,NaN,Teacher,2024-09-06 21:13:59.000,Education,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,Pentecost Church,7
1185,s126f,828691554,2024-09-09,2024-09-12 09:18:41,Pentecost Church,NaN,teacher,2024-09-12 10:21:16.000,Education,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,Pentecost Church,6
1186,s126f,72434140,2024-09-09,2024-09-12 15:45:50,Pentecost Church,NaN,Teacher,2024-09-12 16:26:50.000,Education,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,Pentecost Church,7
1187,s12ju,424704196,2024-09-16,2024-09-22 15:27:05,Dambai zongo,NaN,Buying and Selling of fabrics,NaN,Trade - Retail,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Dambai zongo,6

In [29]:
test2['DR1'].sum()/test2['DISBURSED'].sum()

np.float64(0.24489795918367346)

Checking multiple columns duplication

In [15]:
test3 = lev_win_multi(df, 15, 3, 3, 2)

In [16]:
test3

,HASH,CLIENT_ID,SURVEY_WEEK,SURVEY_DATE,ADDRESS,EMAIL,POSITION,DISB_DATE,INDUSTRY,DISBURSED,DR1,DEFAULTED,PTFRAUD,FRAUD_TYPE,SIMILAR_PRIOR_ADDRESS,SIMILAR_SURVEY_COUNT
0,ebygb,520178541,2024-07-22,2024-07-22 10:56:17,Takoradi Technical University,NaN,NaN,2024-07-22 10:58:07.000,NaN,1,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,Takoradi Technical University,4
1,ebysp,819932269,2024-11-11,2024-11-16 16:26:15,Near main market,maanirazak85@gmail.com,Im the mechanical engineer,2024-11-16 20:13:04.000,Oil & Gas,1,1,0,1,MULTIPLE_ADD_IND_POS_DUPS,Near main market,4
2,ebysp,22934257,2024-11-11,2024-11-17 07:45:04,Near main market,agbehaebenezaroriazy@gmail.com,Im the chief security,2024-11-17 07:46:29.000,Mining,1,1,0,1,MULTIPLE_ADD_IND_POS_DUPS,Near main market,5
3,ebytc,25063580,2024-01-08,2024-01-11 14:38:15,TB 74 Teberebe,NaN,I sell indomie,2024-01-11 15:08:35.000,Trade - Retail,1,1,0,1,MULTIPLE_ADD_IND_POS_DUPS,TB 74 Teberebe,4
4,ebzj4,63537908,2024-04-01,2024-04-07 09:13:03,University of Cape Coast,NaN,Im a marketer,NaN,Trade - Retail,0,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,University of Cape Coast,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,s1008,249769649,2024-07-22,2024-07-27 12:54:31,kpone barrier,timugyeernest@gmail.com,supervisor,2024-07-27 17:41:50.000,Industry/Manufacturing,1,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,kpone barrier,4
75,s10s5,135089633,2024-09-30,2024-10-01 20:03:04,ashiagbor street,dzrekekingsford48@gmail.com,cashier,NaN,Banking and Financial Services,0,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,ashiagbor street,4
76,s10s5,374816521,2024-09-30,2024-10-02 11:25:52,ashiagbor street,francislove739@gmail.com,cashier,2024-10-02 12:48:04.000,Banking and Financial Services,1,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,ashiagbor street,5
77,s126f,72434140,2024-09-09,2024-09-12 15:45:50,Pentecost Church,NaN,Teacher,2024-09-12 16:26:50.000,Education,1,1,0,1,MULTIPLE_ADD_IND_POS_DUPS,Pentecost Church,4
78,s12ju,298654810,2024-09-16,2024-09-22 13:39:33,Dambai Zongo,NaN,Buying and Selling,NaN,Trade - Retail,0,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,Dambai Zongo,4

In [30]:
test3.head(10)

,HASH,CLIENT_ID,SURVEY_WEEK,SURVEY_DATE,ADDRESS,EMAIL,POSITION,DISB_DATE,INDUSTRY,DISBURSED,DR1,DEFAULTED,PTFRAUD,FRAUD_TYPE,SIMILAR_PRIOR_ADDRESS,SIMILAR_SURVEY_COUNT
0,ebygb,520178541,2024-07-22,2024-07-22 10:56:17,Takoradi Technical University,NaN,NaN,2024-07-22 10:58:07.000,NaN,1,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,Takoradi Technical University,4
1,ebysp,819932269,2024-11-11,2024-11-16 16:26:15,Near main market,maanirazak85@gmail.com,Im the mechanical engineer,2024-11-16 20:13:04.000,Oil & Gas,1,1,0,1,MULTIPLE_ADD_IND_POS_DUPS,Near main market,4
2,ebysp,22934257,2024-11-11,2024-11-17 07:45:04,Near main market,agbehaebenezaroriazy@gmail.com,Im the chief security,2024-11-17 07:46:29.000,Mining,1,1,0,1,MULTIPLE_ADD_IND_POS_DUPS,Near main market,5
3,ebytc,25063580,2024-01-08,2024-01-11 14:38:15,TB 74 Teberebe,NaN,I sell indomie,2024-01-11 15:08:35.000,Trade - Retail,1,1,0,1,MULTIPLE_ADD_IND_POS_DUPS,TB 74 Teberebe,4
4,ebzj4,63537908,2024-04-01,2024-04-07 09:13:03,University of Cape Coast,NaN,Im a marketer,NaN,Trade - Retail,0,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,University of Cape Coast,4
5,ebzj5,71517168,2024-08-19,2024-08-20 13:55:54,Twifo Praso Road,michaellinaa@gmail.com,Teacher,2024-08-20 13:59:22.000,Education,1,1,0,1,MULTIPLE_ADD_IND_POS_DUPS,Twifo Praso Road,4
6,ebzj5,491138064,2024-08-19,2024-08-20 14:07:45,Twifo Praso Road,dianat@gmail.com,Teacher,NaN,Education,0,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,Twifo Praso Road,5
7,ebzj5,422366312,2024-08-19,2024-08-20 14:37:08,Twifo Praso Road,mercyberniceb@gmail.com,Teacher,NaN,Education,0,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,Twifo Praso Road,6
8,ebzj5,636790720,2024-08-19,2024-08-22 11:10:36,Twifo Praso Road,evelynkontonh@gmail.com,I am a teacher,NaN,Education,0,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,Twifo Praso Road,7
9,ebzj5,772758775,2024-08-19,2024-08-23 12:51:50,Twifo Praso Road,kwameoforidjan@gmail.com,Teacher,2024-08-28 07:37:48.000,Education,1,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,Twifo Praso Road,8

In [31]:
test3['DR1'].sum()/test3['DISBURSED'].sum()

np.float64(0.5111111111111111)

In [32]:
test6 = lev_win_multi(df, 15, 3, 4, 2)

In [35]:
test6

,HASH,CLIENT_ID,SURVEY_WEEK,SURVEY_DATE,ADDRESS,EMAIL,POSITION,DISB_DATE,INDUSTRY,DISBURSED,DR1,DEFAULTED,PTFRAUD,FRAUD_TYPE,SIMILAR_PRIOR_ADDRESS,SIMILAR_SURVEY_COUNT
0,ebygb,520178541,2024-07-22,2024-07-22 10:56:17,Takoradi Technical University,NaN,NaN,2024-07-22 10:58:07.000,NaN,1,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,Takoradi Technical University,4
1,ebysp,22934257,2024-11-11,2024-11-17 07:45:04,Near main market,agbehaebenezaroriazy@gmail.com,Im the chief security,2024-11-17 07:46:29.000,Mining,1,1,0,1,MULTIPLE_ADD_IND_POS_DUPS,Near main market,5
2,ebytc,25063580,2024-01-08,2024-01-11 14:38:15,TB 74 Teberebe,NaN,I sell indomie,2024-01-11 15:08:35.000,Trade - Retail,1,1,0,1,MULTIPLE_ADD_IND_POS_DUPS,TB 74 Teberebe,4
3,ebyu6,202352134,2024-07-15,2024-07-18 17:08:52,Nana kojo mbeah ll street,faustinay264@gmail.com,I hold a provision shop,2024-07-18 17:11:01.000,Domestic Services,1,1,0,1,MULTIPLE_ADD_IND_POS_DUPS,Nana kojo mbeah ll street,4
4,ebzj4,819402537,2024-02-26,2024-02-26 15:46:13,University of Cape Coast,bgyelir@gmail.com,Chef,NaN,Hotel and restaurants,0,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,University of Cape Coast,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,ecxvx,899606938,2024-12-23,2024-12-28 18:01:04,Nayilifong south,fa.rahaman55@gmail.com,Im a teacher,2024-12-28 18:36:01.000,Education,1,1,0,1,MULTIPLE_ADD_IND_POS_DUPS,Nayilifong south,6
62,s1008,249769649,2024-07-22,2024-07-27 12:54:31,kpone barrier,timugyeernest@gmail.com,supervisor,2024-07-27 17:41:50.000,Industry/Manufacturing,1,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,kpone barrier,4
63,s10s5,135089633,2024-09-30,2024-10-01 20:03:04,ashiagbor street,dzrekekingsford48@gmail.com,cashier,NaN,Banking and Financial Services,0,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,ashiagbor street,4
64,s10s5,374816521,2024-09-30,2024-10-02 11:25:52,ashiagbor street,francislove739@gmail.com,cashier,2024-10-02 12:48:04.000,Banking and Financial Services,1,0,0,0,MULTIPLE_ADD_IND_POS_DUPS,ashiagbor street,5
65,s126f,72434140,2024-09-09,2024-09-12 15:45:50,Pentecost Church,NaN,Teacher,2024-09-12 16:26:50.000,Education,1,1,0,1,MULTIPLE_ADD_IND_POS_DUPS,Pentecost Church,4

In [34]:
test6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   HASH                   66 non-null     object
 1   CLIENT_ID              66 non-null     int64
 2   SURVEY_WEEK            66 non-null     object
 3   SURVEY_DATE            66 non-null     datetime64[ns]
 4   ADDRESS                66 non-null     object
 5   EMAIL                  54 non-null     object
 6   POSITION               61 non-null     object
 7   DISB_DATE              39 non-null     object
 8   INDUSTRY               61 non-null     object
 9   DISBURSED              66 non-null     int64
 10  DR1                    66 non-null     int64
 11  DEFAULTED              66 non-null     int64
 12  PTFRAUD                66 non-null     int64
 13  FRAUD_TYPE             66 non-null     object
 14  SIMILAR_PRIOR_ADDRESS  66 non-null     object
 15  SIMILAR_SURVEY_COUNT   66 non-null     int64
dtypes: datetime64[ns](1), int64(6), object(9)
memory usage: 8.4+ KB

In [33]:
test6['DR1'].sum()/test6['DISBURSED'].sum()

np.float64(0.6153846153846154)

In [18]:
# reducing window to 10 days
test4 = lev_win(df, 10, 3)
test4

,HASH,CLIENT_ID,SURVEY_WEEK,SURVEY_DATE,ADDRESS,EMAIL,POSITION,DISB_DATE,INDUSTRY,DISBURSED,DR1,DEFAULTED,PTFRAUD,FRAUD_TYPE,SIMILAR_PRIOR_ADDRESS,SIMILAR_ADDRESSES_COUNT
0,ebyez,560471341,2024-11-18,2024-11-18 10:42:26,Palace garden,thomasanglya@gmail.com,sales boy,NaN,Industry/Manufacturing,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Palace garden,5
1,ebyh8,776946950,2024-10-14,2024-10-20 10:24:01,AHOBRE 1,www.arloomonica222@gmail.com,TEACHER,2024-10-20 10:25:10.000,Education,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE 1,5
2,ebyh8,668084800,2024-10-14,2024-10-20 10:53:18,AHOBRE 1,www.annanpatrick44@gmail.com,TEACHER,2024-10-20 10:59:37.000,Education,1,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE 1,6
3,ebyh8,740441033,2024-10-21,2024-10-24 06:02:23,AHOBRE 1,www.kotsia555@gmail.com,TEACHER,NaN,Education,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE 1,7
4,ebyh8,153076413,2024-10-21,2024-10-24 06:57:28,AHOBRE 2,NaN,HEADMASTER,NaN,Education,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,AHOBRE 2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141,s126f,828691554,2024-09-09,2024-09-12 09:18:41,Pentecost Church,NaN,teacher,2024-09-12 10:21:16.000,Education,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,Pentecost Church,6
1142,s126f,72434140,2024-09-09,2024-09-12 15:45:50,Pentecost Church,NaN,Teacher,2024-09-12 16:26:50.000,Education,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,Pentecost Church,7
1143,s12ju,298654810,2024-09-16,2024-09-22 13:39:33,Dambai Zongo,NaN,Buying and Selling,NaN,Trade - Retail,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Dambai Zongo,5
1144,s12ju,424704196,2024-09-16,2024-09-22 15:27:05,Dambai zongo,NaN,Buying and Selling of fabrics,NaN,Trade - Retail,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Dambai zongo,6
1145,s1b4k,741150525,2024-04-22,2024-04-23 11:02:55,BX60 CARROT ST,bubasulley78@gmail.com,farmer,NaN,Domestic Services,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,BX60 CARROT ST,5

In [19]:
test5 = lev_win(df, 15, 2)

In [20]:
test5

,HASH,CLIENT_ID,SURVEY_WEEK,SURVEY_DATE,ADDRESS,EMAIL,POSITION,DISB_DATE,INDUSTRY,DISBURSED,DR1,DEFAULTED,PTFRAUD,FRAUD_TYPE,SIMILAR_PRIOR_ADDRESS,SIMILAR_ADDRESSES_COUNT
0,ebvuw,176553373,2024-12-16,2024-12-21 16:38:23,we thank God,ahiagbedegodson@gmail.com,NaN,NaN,NaN,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,we thank God,4
1,ebyeg,818631310,2024-05-27,2024-05-31 05:04:51,Agona fie,NaN,Teaching,NaN,Education,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Agona fie,4
2,ebyeg,72852512,2024-08-26,2024-08-29 21:39:25,Agona Nkwanta,NaN,NaN,NaN,NaN,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Agona Nkwanta,4
3,ebyeg,825156662,2024-09-02,2024-09-02 07:06:23,Agona Nkwanta,NaN,line Leader,2024-09-02 07:12:01.000,Agriculture,1,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Agona Nkwanta,4
4,ebyeg,816908060,2024-11-04,2024-11-09 13:22:39,Agona Nkwanta,NaN,surveyor,NaN,Construction,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Agona Nkwanta,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3977,s12ju,298654810,2024-09-16,2024-09-22 13:39:33,Dambai Zongo,NaN,Buying and Selling,NaN,Trade - Retail,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Dambai Zongo,5
3978,s12ju,424704196,2024-09-16,2024-09-22 15:27:05,Dambai zongo,NaN,Buying and Selling of fabrics,NaN,Trade - Retail,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,Dambai zongo,6
3979,s1843,576604188,2024-10-14,2024-10-15 11:01:10,Bimbilla hospital,NaN,store,2024-10-15 11:03:51.000,Public Administration,1,1,0,1,MULTIPLE_ADDRESS_DUPLICATIONS,Bimbilla hospital,4
3980,s1b4k,629522460,2024-04-22,2024-04-23 10:38:38,BX66 CARROT ST,bubasulley78@gmail.com,teacher,NaN,Education,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,BX66 CARROT ST,4
3981,s1b4k,741150525,2024-04-22,2024-04-23 11:02:55,BX60 CARROT ST,bubasulley78@gmail.com,farmer,NaN,Domestic Services,0,0,0,0,MULTIPLE_ADDRESS_DUPLICATIONS,BX60 CARROT ST,5

In [21]:
test5['SIMILAR_ADDRESSES_COUNT'].min()

np.int64(4)